/* Home.css */

html,
body {
  /*background-color: #000000;*/
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  position: relative;
  text-align: center;
  background-color: #333; /* Gris oscuro para el fondo del hero */
  color: #ffffff;
  padding: 2rem 1rem; /* Reducido padding para una sección más compacta */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 0px; /* Reducida altura mínima */
  max-height: 90px;
}

.hero-text {
  position: relative;
  z-index: 1;
  max-width: 90%; /* Ajustado el ancho máximo del texto */
}

.hero-title {
  font-size: 2rem; /* Reducido tamaño del título principal */
  margin: 0;
  line-height: 1.3;
}

.hero-subtitle {
  font-size: 1.25rem; /* Reducido tamaño del subtítulo */
  margin-top: 0.5rem;
  line-height: 1.4;
}

.cta-button {
  margin-top: 1rem; /* Reducido espacio entre el subtítulo y el botón */
  background-color: #d4b6a5; /* Beige cardamomo para el botón */
  color: #1a202c; /* Gris oscuro para el texto del botón */
  padding: 0.5rem 0.75rem; /* Ajustado padding del botón */
  border-radius: 9999px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #b89d8d; /* Beige ligeramente más oscuro en hover */
}

.section {
  padding: 2rem 1rem;
}

.section-title {
  font-size: 1.75rem; /* Reducido tamaño del título de la sección */
  margin-bottom: 1rem;
  color: #1a202c; /* Gris oscuro para los títulos de sección */
}

.section-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem; /* Reducido espacio entre elementos */
}

.section-item {
  flex: 1 1 300px;
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.section-item h3 {
  font-size: 1.25rem; /* Reducido tamaño del título del ítem */
  color: #1a202c;
}

.section-item p {
  font-size: 0.875rem; /* Reducido tamaño del texto del ítem */
  color: #333; /* Gris oscuro para el texto */
}
