.fp-featured-products {
  padding: 2rem;
  text-align: center;
  font-size: 20px;
}

.fp-product-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.fp-product-card {
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin: 2rem;
  height: 570px;
  width: 350px + 2rem;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
  transition: ease 300ms;
}

.fp-product-card:hover {
  scale: 1.03;
}

.fp-product-image {
  border-radius: 4px;
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.fp-product-info {
  margin: 1rem;
  display: flex;
  text-align: left;
  flex-direction: column;
  width: 90%;
  height: 250px;
}

.fp-product-name {
  font-size: 1.4rem;
  margin: 0.25rem 0 0;
  height: 30px;
  flex-shrink: 0;
}

.fp-product-price {
  margin: 0.5rem;
  font-size: 1.2rem;
  color: #555;
}

.fp-product-shortDescription {
  font-size: 0.9rem;
  color: #666;
  flex-grow: 1;
}

.fp-more-info-button {
  margin: 0.5rem;
  width: 50%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.fp-more-info-button:hover {
  background-color: #0056b3;
}

.fp-star-rating {
  color: #9c9c9c;
}

.fp-star {
  font-size: 1.5rem;
}

.fp-star.fp-filled {
  color: #ffcc00;
}
