footer {
  background-color: #333; /* Gris oscuro */
  color: #f5f5f5; /* Gris claro */
  padding: 1rem;
  text-align: center;
}

.footer-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-link {
  color: #d4b6a5; /* Beige cardamomo */
  text-decoration: none;
  padding: 10px;
}

.footer-link:hover {
  text-decoration: underline;
}
