.review {
  padding: 2rem;
  text-align: center;
}

.review-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.review-card {
  background-color: #eaeaea;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  width: 330px;
  height: 260px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
}

.review-content {
  font-style: italic;
  height: 50px;
  flex-shrink: 0;
}

.review-author {
  margin-top: 0.5rem;
  font-weight: bold;
}

.review-image {
  border-radius: 4px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.star-rating {
  color: #ffcc00; /* Color dorado para las estrellas */
  margin: 0.5rem 0;
}

.star {
  font-size: 1.5rem; /* Tamaño de las estrellas */
  color: #9c9c9c; /* Color gris claro para las estrellas vacías */
}

.star.filled {
  color: #ffcc00; /* Color dorado para las estrellas llenas */
}
